<div class="student_id">
  <h1>First Name : <%= @member.first_name %></h1>
  <h1>Last Name : <%= @member.last_name %></h1>
  <h3>Age : <%= @member.age %> </h3>
  <h3>Session : <%= @member.session_id %> </h3>

  <a href="/members/<%=@member.id%>/edit">Edit</a>



</div>
